# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Firebase
.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log

# Functions build artifacts
lib/

# env
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
poc/spurgeon/sermon_bodies.ndjson
functions/spurgeon-functions/sermon_bodies.ndjson
results/
